fieldset {
  border: 0;
  width: 40vw;
  margin: 0 auto; }

.grupo:before, .grupo:after {
  content: " ";
  display: table; }

.grupo:after {
  clear: both; }

.campo {
  margin-bottom: 1em; }
  .campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block; }
  .campo input[type="text"],
  .campo input[type="email"],
  .campo input[type="url"],
  .campo input[type="date"],
  .campo input[type="tel"],
  .campo select,
  .campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block; }
  .campo select option {
    padding-right: 1em; }
  .campo input:focus,
  .campo select:focus,
  .campo textarea:focus {
    background: #FFC; }
  .campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em; }

fieldset.grupo .campo {
  float: left;
  margin-right: 1em; }

.botao {
  font-size: 1.5em;
  background: #8d2daa;
  border: 0;
  margin-bottom: 1em;
  color: #FFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .botao:hover {
    background: #C229B7;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none; }
  .botao select, .botao label.checkbox {
    cursor: pointer; }

section {
  margin-bottom: 5em; }
