body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

a:active, a:hover {
  outline: 0; }

body {
  color: #8d2daa; }

header {
  width: 100vw;
  height: 6.5vh;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #4a1859;
  background: #8d2daa;
  z-index: 2;
  color: #FFFFFF; }
  header .logo {
    padding: 0.4em 0 0 2em; }
  header .menu {
    box-shadow: 0 0 0 0 #B82765, 0 0 0 0 #B82765;
    cursor: pointer;
    height: 2.8em;
    position: absolute;
    right: 25px;
    top: 0.5em;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3.3em;
    z-index: 2; }
    header .menu:hover {
      box-shadow: 0 0 0 8px #bd66d7, 0 0 0 8px #bd66d7; }
  header .hamburger {
    position: relative;
    top: 1.3em;
    left: 11px;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out; }
    header .hamburger:after, header .hamburger:before {
      background: #FFFFFF;
      content: "";
      display: block;
      transition: .5s ease-in-out;
      position: absolute;
      width: 100%;
      height: 100%; }
    header .hamburger:before {
      top: -10px; }
    header .hamburger:after {
      bottom: -10px; }
  header input {
    display: none; }
    header input:checked ~ label .menu {
      box-shadow: 0 0 0 130vw #FFFFFF, 0 0 0 130vh #FFFFFF; }
    header input:checked ~ label .hamburger {
      transform: rotate(45deg); }
      header input:checked ~ label .hamburger:after {
        transform: rotate(90deg);
        bottom: 0; }
      header input:checked ~ label .hamburger:before {
        transform: rotate(90deg);
        top: 0; }
    header input:checked ~ ul {
      opacity: 1;
      visibility: visible; }
  header ul {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2; }
  header a {
    color: #8d2daa;
    display: block;
    margin-bottom: 1em;
    text-decoration: none; }

.container {
  display: flex;
  justify-content: space-around; }
  .container .item {
    flex-grow: 1;
    margin: 0 10px; }
    .container .item div {
      width: auto;
      height: 220px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover; }
  .container a {
    text-align: center;
    display: block;
    margin: 20px; }
  .container .item2 {
    width: 55vw;
    height: 220px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover; }
    .container .item2 p {
      padding-bottom: 1em;
      font-size: 1.5em; }

h1 {
  padding-bottom: 0.5em; }

#histo-pet {
  padding-bottom: 8vw; }

fieldset {
  border-right: 0;
  border-left: 0;
  border-color: #8d2daa; }
  fieldset legend {
    text-align: center;
    font-weight: 900;
    font-size: 1.5em;
    border: 1px solid;
    padding: 0.2em 3em 0.2em 3em; }

.btn {
  margin-left: 2em;
  padding: 0.8em 2em;
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-weight: 900;
  background-color: #8d2daa;
  border-radius: 50px;
  color: #FFFFFF;
  transition: all .2s ease; }

.status {
  width: 68vw;
  float: right;
  margin-top: 5em; }

.perfil {
  width: 12vw;
  float: left;
  margin-top: 2em;
  margin-bottom: 3em; }
  .perfil p {
    text-align: center;
    font-weight: 900;
    padding-top: 0.2em; }

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative; }
  .circle img {
    position: absolute;
    bottom: 0;
    width: 160%;
    left: -31%; }

.round div {
  border-radius: 12px; }

.img {
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1); }
  .img:hover {
    box-shadow: 0 0 0 3px #bd66d7, 0 0 0 3px #bd66d7; }

section {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 6em; }

footer {
  height: 7vh;
  background-color: #8d2daa;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer p {
    padding-top: 1em; }
