// Declarando cores
$primary: #8d2daa;
$secondary: #B82765;
$white: #FFFFFF;
$darker-primary: darken($primary, 20);
$lighter-primary: lighten($primary, 20);


body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
}

a:active, a:hover {
    outline: 0;
}

body{ 
    color: $primary;
}

header {
    width: 100vw;
    height: 6.5vh;
    position: fixed;
    top: 0;
    border-bottom: 1px solid $darker-primary;
    background: $primary;
    z-index: 2;
    color: $white;

    .logo{
        padding: 0.4em 0 0 2em;
    }

    .menu {
        box-shadow: 0 0 0 0 $secondary, 0 0 0 0 $secondary;
        cursor: pointer;
        height: 2.8em;
        position: absolute;
        right: 25px;
        top:0.5em;
        transition:  box-shadow 1.1s cubic-bezier(.19,1,.22,1);
        width: 3.3em;
        z-index: 2;
        
        &:hover {
            box-shadow: 0 0 0 8px $lighter-primary, 0 0 0 8px $lighter-primary;
        }
    }

    .hamburger {
        position: relative;
        top: 1.3em;
        left: 11px;
        width: 30px;
        height: 2px;
        background: $white;
        display: block;
        transform-origin: center;
        transition: .5s ease-in-out;
        
        &:after,
        &:before {
            background: $white;
            content: "";
            display: block;
            transition: .5s ease-in-out;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        &:before {
            top: -10px;
        }
    
        &:after {
            bottom: -10px;
        }
    }

    input {
        display: none;
    
        &:checked ~ label .menu {
            box-shadow: 0 0 0 130vw $white, 0 0 0 130vh $white;
        }
    
        &:checked ~ label .hamburger {
            transform: rotate(45deg);
    
            &:after {
                transform: rotate(90deg);
                bottom: 0;
            }
    
            &:before {
                transform: rotate(90deg);
                top: 0;
            }
        }
    
        &:checked ~ ul {
            opacity: 1;
            visibility: visible;
        }
    }

    ul {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        font-size: 45px;
        opacity: 0;
        transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
        visibility: hidden;
        z-index: 2;
    }
    
    a {
        color: $primary;
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    
    .item {
        flex-grow: 1;
        margin: 0 10px;

        div {
            width: auto;
            height: 220px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    
    a {
        text-align: center;
        display: block;
        margin: 20px;
    }
    
    .item2 {
        width: 55vw;
        height: 220px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        
        p{
            padding-bottom: 1em;
            font-size: 1.5em;
        }
    }
    
}

h1{
    padding-bottom: 0.5em;
}

#histo-pet {
    padding-bottom: 8vw;
}

fieldset {
    border-right: 0;
    border-left: 0;
    border-color: $primary;
    
    legend{
        text-align: center;
        font-weight: 900;
        font-size: 1.5em;
        border: 1px solid;
        padding: 0.2em 3em 0.2em 3em;
    }
}

.btn {
    margin-left: 2em;
    padding: 0.8em 2em;
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-weight: 900;
    background-color: $primary;
    border-radius: 50px;
    color: $white;
    transition: all .2s ease;
}

.status{
    width: 68vw;
    float: right;
    margin-top: 5em;
}

.perfil{
    width: 12vw;
    float: left;
    margin-top: 2em;
    margin-bottom: 3em;
    
    p{
        text-align: center;
        font-weight: 900;
        padding-top: 0.2em 
    }
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    
    img {
        position: absolute;
        bottom: 0;
        width: 160%;
        left: -31%;
    }
}

.round div {
    border-radius: 12px;
}

.img{
    transition:  box-shadow 1.1s cubic-bezier(.19,1,.22,1);

    &:hover {
        box-shadow: 0 0 0 3px $lighter-primary, 0 0 0 3px $lighter-primary;
    }
}

section{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 6em;
}

footer{
    height: 7vh;
    background-color: $primary;
    color: $white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    p{
        padding-top: 1em;
    }
}